
#setterScreen.is-not-your-turn #keyboardSetter,
#guesserScreen.is-not-your-turn #keyboardGuesser{
  filter: grayscale(0.9);
  opacity: 0.45;
  pointer-events: none;
}

#setterScreen.is-your-turn #keyboardSetter,
#guesserScreen.is-your-turn #keyboardGuesser{
  filter: none;
  opacity: 1;
  pointer-events: auto;
}

/* Disable key interaction visuals when NOT your turn */
#setterScreen.is-not-your-turn #keyboardSetter .key,
#guesserScreen.is-not-your-turn #keyboardGuesser .key {
  transform: none !important;
  box-shadow: none !important;
}

.draft-shake {
  animation: draft-shake 220ms cubic-bezier(0.4, 0, 0.2, 1);
}
.theme-setter .key.key-gray:hover,
.theme-setter .key.key-gray:active {
 transform: none;
  box-shadow: none;
}
.theme-guesser .history-box,
.theme-setter .secret-inline {
  background: transparent;
  box-shadow: none;
  border: none;
}
.theme-setter .key.key-current {
  outline-offset: -2px;
  animation: blue-outline-pulse 2.2s infinite;
   animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}
